body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1,
h2 {
  font-weight: bold;
}

p {
  line-height: 1.5;
  margin-bottom: 10px;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
