<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Team</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}"/>
  </head>

  <body>
    <!-- Main section -->
    <div class="main">
      <!-- Navigation section -->
      <nav>
        <ul>
          <li><a href="/about" class="about">About</a></li>
          <li><a href="/contact" class="contact">Contact</a></li>
          <li><a href="/" class="home"><img src="../static/Logo.svg" alt="Home"/></a>
          </li>
        </ul>
      </nav>

      <!-- Secondary section -->
      <div class="secondary">
        <header>
          <h1>Our Team</h1>
          <h2>Connect with Our Team Members</h2>
          <p>
            Feel free to reach out to any of our team members directly via email
            or phone. We're always happy to hear from you!
          </p>
        </header>
      </div>
    </div>

     <!-- Main -->
     <main>
      <div class="first">
        <img class="first-img" src="{{ url_for('static', filename='dummy.png') }}" alt="person 1" />

        <div class="sub one">
          <h3>Bipin Poudel <br>
              &nbsp;&nbsp;&nbsp;( 23234 )
          </h3>
        </div>

        <div class="second">
          <img class="second-img" src="{{ url_for('static', filename='dummy.png') }}" alt="person 2" />

          <div class="sub one">
            <h3>Beeshow Khatri <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( 23236 )
            </h3>
          </div>

          <div class="third">
            <img class="third-img" src="{{ url_for('static', filename='dummy.png') }}" alt="person 3" />

            <div class="sub one">
              <h3>Debrath Sharma <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( 23237 )
              </h3>
            </div>
    </main>
  </body>