<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About: SMS/Email Spam Classifier</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='contact.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>About: SMS/Email Spam Classifier</h1>
    </header>
    <main>
      <section>
        <h2>Stop Spam in its Tracks!</h2>
        <p>
          Feeling overwhelmed by unwanted messages in your inbox? Our SMS/Email
          Spam Classifier utilizes the power of machine learning to effectively
          identify and filter out spam emails and SMS.
        </p>
        <p>
          This system analyzes the content of your messages, considering factors
          like keywords, phrases, and sender information. By learning from vast
          amounts of labeled data, the model can distinguish between legitimate
          messages and spam with high accuracy.
        </p>
        <p>
          Say goodbye to wasted time, phishing attempts, and potential security
          risks associated with spam. Our system empowers you to take control of
          your inbox and maintain a clean, organized communication space.
        </p>
        <a href="https://www.youtube.com/watch?v=hhuY62kIQGU" target="_blank"
          >Learn More on YouTube</a
        >
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Your Company. All rights reserved.</p>
    </footer>
  </body>
</html>
