<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Team</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='contact.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Our Team</h1>
      <h2>Connect with Our Team Members</h2>
      <p>
        Feel free to reach out to any of our team members directly via email or
        phone. We're always happy to hear from you!
      </p>
    </header>
    <main>
      <section class="team-container">
        <article class="team-member">
          <img src="person1.jpg" alt="Person 1" />
          <h2>Bipin Paudel</h2>
          <p>bipinpaudel1@company.com</p>
          <p>+977-98xxxxxxxx</p>
        </article>
        <article class="team-member">
          <img src="person2.jpg" alt="Person 2" />
          <h2>Bishow Khatri</h2>
          <p>bishowkhatri07@company.com</p>
          <p>+977-98xxxxxxxx</p>
        </article>
        <article class="team-member">
          <img src="person3.jpg" alt="Person 3" />
          <h2>Debrath Sharma</h2>
          <p>madaraDebrath@company.com</p>
          <p>+977-98xxxxxxxx</p>
        </article>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Your Company. All rights reserved.</p>
    </footer>
  </body>
</html>
